DirectoryIndex index.php index.html

<IfModule mod_negotiation.c>
    Options -Indexes
</IfModule>

# Do not serve environment files over HTTP
<Files ".env">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Deny from all
    </IfModule>
</Files>
