Options -Indexes -ExecCGI

# Prevent PHP execution in the files directory
<Files "*.php">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Deny from all
    </IfModule>
</Files>
